UmBristol.CI.Library/bin/
UmBristol.CI.Library/obj/
UmBristol.CI.Tests/bin/
UmBristol.CI.Tests/obj/
Crocodile/bin/
packages/
Crocodile/obj/
*.user
*.suo
.vs/
UmBristol.CI.Library/StyleCop.Cache
UmBristol.CI.Tests/StyleCop.Cache
Crocodile/StyleCop.Cache
StyleCop.Cache

*.orig
*.mdf
*.ldf
*.bak
UmBristol.CI/App_Data/cache/
UmBristol.CI.Library/App_Data/NuGetBackup/
UmBristol.CI/App_Data/NuGetBackup/
UmBristol.CI/App_Data/TEMP/
